<div class="row">
  <div class="col-8 m-auto">

    <form [formGroup]="formGroupClient">

    <div class="mb-3">

      <div class="display-6 text-center">
        Cadastro de Cliente
      </div>

      <label for="name" class="form-label">Nome</label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome">

    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
    </div>

    <div class="mb-3">

      <label class="form-label">Sexo</label>

        <div class="form-check">

          <input type="radio" formControlName="sexo" class="form-check-input" id="sexo-masculino" value="Masculino">
          <label for="sexo-masculino" class="form-check-label">Masculino</label>

        </div>
        <div class="form-check">

          <input type="radio" formControlName="sexo" class="form-check-input" id="sexo-feminino" value="Feminino">
          <label for="sexo-feminino" class="form-check-label">Feminino</label>

        </div>

    </div>

    <div class="mb-3">

      <label for="estado" class="form-label">Estado</label>
      <select formControlName="estado" class="form-select" id="estado">
        <option value="">Selecione um estado</option>
        <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
      </select>

    </div>

    <div class="mb-3 d-flex justify-content-end">

      <button type="button" class="btn btn-dark me-1" (click)="save()">Salvar</button>
      <button type="button" class="btn btn-dark" (click)="clean()">Limpar</button>

    </div>

  </form>

  </div>

</div>

<table class="table table-striped">

  <thead>

    <tr>

      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Sexo</th>
      <th scope="col">Estado</th>

    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let clientes of clientes">

      <th scope="row">{{clientes.id}}</th>

      <td>{{clientes.name}}</td>
      <td>{{clientes.email}}</td>
      <td>{{clientes.sexo}}</td>
      <td>{{clientes.estado}}</td>
      <td>

        <button type="button" class="btn btn-dark me-1" (click)="edit(clientes)" >Editar</button>
        <button type="button" class="btn btn-dark" (click)="delete(clientes)">Excluir</button>

      </td>
    </tr>
  </tbody>
</table>
